@use './partials/variables' as *;
$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Miniver&family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+Symbols:wght@200;400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

h1{
    color:$yellow-text;
    font-size: 3.2em;
    font-family: 'Instrument Sans';
    font-style: italic;
}
.coloryellow{
    color:$yellow-text;
}
.coloraqua{
    color:$aquamarine-text;
}
.borderbutton{
 border: 1px solid;
 padding: 10px;
 width: 250px;
 border-radius: 10px;
 
cursor: pointer; 
 &:hover {
    background-color: #49a987;; 
}
}
.borderbutton-2{
    border: 1px solid #49a987;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #49a987;
    cursor: pointer;
    &:hover {
        background-color: #347760;; 
    }
}
.borderbutton-3{
    border: 1px solid #f4b429;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #f4b429;
    cursor: pointer;
}
body{
    font-family:'open sans';
}
.bgcritics{
    background-color: $white-text;
}